/* MOBILE VIEW */
* {
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 900px) {


nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    list-style: none;
    color: purple;
    font-size: 1.5em;
  }
  
.header ul {
    list-style: none;
  }

.header h1 {
  margin-bottom: 20px;
}
.past-moods ul {
  margin-top: 1em;
  max-height: 600px;
  overflow: scroll;
}

.past-moods li {
  list-style: none;
  border: .2em solid cadetblue;
  border-radius: 2em;
  padding: .5em;
  margin-bottom: .5em;
  max-width: 250px;
}

body {
  margin: 1.5em;
  font-size: .5em;
  margin-top: 14em;
  display: flex;
  justify-content: center;
}

.home-page #mood-display {
  min-width: 350px;
  max-width: 350px;
  /* flex-grow: 1; */
  margin-bottom: 3em;
  margin-top: 1.5em;
} 

#chart-js {
  height: 400px;
  width: 350px;
} 

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-page {
  margin: 3em;
  margin-right: 20em;
  border: 4px inset cyan;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border-radius: .5em;
  background-color: cornflowerblue;
  color: whitesmoke;
  font-size: 1.5em;
  padding: 5px;
}

button:hover {
  border-color: whitesmoke;
}

.home-page #mood-list .add-mood-btn {
  margin: .5em;

}

.add-mood-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-mood button {
  margin-bottom: 2px;
  padding: 1px;
  background-color: #5B4E77;
}

.expand-mood-btn {
  background-color: #2E5EAA;
}

.add-mood-btn {
  background-color: #5B4E77;
}

.add-mood {
  margin-top: 2em;
  border: 3px solid cadetblue;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}

/* DESKTOP VIEW */
@media only screen and (min-width: 900px) {

  nav {
    background-color: #D1DEDE;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: purple;
    font-size: 1em;
  }  

  /* ul, li of Mood list */

.past-moods ul {
    margin-top: 1em;
    padding-left: 8px;
    max-height: 460px;
    overflow: hidden;
    margin-bottom: 0;
  }
  
.past-moods li {
    list-style: none;
    /* border: .2em solid cadetblue; */
    border-radius: 1.5em;
    padding: 8px;
    padding-top: 0;
    margin-bottom: .5em;
    background-color: #D1DEDE;
  }

.past-moods {
  margin-top: 10px;
  background-color: white;
  padding-top: 5px;
  border-radius: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

body {
    display: flex;
    justify-content: center;
    margin-top: 6em;
    margin-left: 9.5em;
    background-color: #D1DEDE;
  }

.page-content {
    margin-top: .5em;
    padding-top: .5em;
    display: flex;
    width: 1500px;
    align-items: center;
    justify-content: center;
  }

/* HOME PAGE */
  
.home-page {
    width: 80%;
    min-height: 416px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 2em;
  }

  /* MOOD CHART */
  
  
.home-page #mood-display {
    padding: 10px;
    padding-bottom: 20px;
    margin-right: 20px;
    flex-grow: 1;
    min-width: 50vw;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 6px #ccc;
    background-color: white;
    height: 490px;
  }

.add-mood {
  margin-right: 11.5em;
}

.add-mood-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
  }

#cancel-mood-btn {
    margin-left: 43%;
  }
  
.chart-container{
    padding-right: 10px;
  }

#chart-js {
    height: 400px;
    width: 50vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
#chart-js #chart-filter {
      flex-grow: 0;
  }
  
  /* MOOD LIST */
.home-page #mood-list { 
    /* padding-right: 1.5em; */
    height: 520px;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
    /* border: 3px solid black; */
    box-shadow: 3px 3px 5px 6px #ccc;
    font-size: 14px;
    width: 300px;
     border-radius: 20px;
     background-color: whitesmoke;
    }
  
    /* SPLASH PAGE */
.splash-page {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px 6px #ccc;
    border: 3px solid black;
    width: 50vw;
    padding: 5px;
    background-color: white;
    margin-right: 10em;
  }

.splash-page header {
    padding-right: 5px;
    display: flex;
    align-items: center;
  }

.splash-page-to {
    margin-left: 35%;
}

.splash-page-btn {
    margin-top: 5px;
}

.home-page #mood-list .add-mood-btn {
    margin: .5em;
    margin-left: 33%;
    padding: 2px;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 8em;
}



#login-btn {
  margin-top: .5em;
   margin-left: 36%;
}

.add-mood {
    border: 3px solid cadetblue;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

.add-mood button {
    margin-bottom: 2px;
    padding: 1px;
    background-color: #5B4E77;
  }
  
#cancel-mood-btn {
    padding: 5px;
  }

.expand-mood-btn {
    background-color: #2E5EAA;
  }

.add-mood-btn {
    background-color: #5B4E77;
  }

button {
    border-radius: .5em;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-size: 1.2em;
    padding: 5px;
  }

.btn {
    padding: 5px;
  }
  
button:hover {
    border-color: whitesmoke;
  }

  /* nav bar animation */



header ul {
   float: left;
   list-style: none;
   margin-right: 1em;
   font-family: 'KulminoituvaRegular', helvetica, sans-serif;
   font-size: 25px;
   /* padding: 12px;  */
  }
   
header li {
    color: #544738;
 text-decoration: none;
 float: left;
 font-size: 25px;
 padding: 12px;
}
   
.left:hover {
   color: #7eb9be;
 -webkit-transform: rotate(-10deg) scale(1.2);
 -moz-transform: rotate(-10deg) scale(1.2);
 -o-transform: rotate(-10deg) scale(1.2);
}

.right:hover {
  -webkit-transform: rotate(10deg) scale(1.2);
  -moz-transform: rotate(10deg) scale(1.2);
  -o-transform: rotate(10deg) scale(1.2);
}

.quote-container {
  margin-bottom: 5px;
}
  
  }

  


