@media only screen and (max-width: 900px) {
  

nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8em;
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: cadetblue;
  border-radius: 1em;
  color: purple;
  font-size: 1em;
}

ul {
  margin-top: 1em;
  max-height: 600px;
  overflow: scroll;
}

li {
  list-style: none;
  border: .2em solid cadetblue;
  border-radius: 2em;
  padding: .5em;
  margin-bottom: .5em;
  max-width: 250px;
}

body {
  margin: 1.5em;
  font-size: .5em;
  margin-top: 5em;
}

.home-page #mood-display {
  
  min-width: 350px;
  max-width: 350px;

} 

#chart-js {
  height: 200px;
  width: 300px;
} 

.page-content {
  
}

button {
  border-radius: .5em;
  background-color: cornflowerblue;
  color: whitesmoke;
  font-size: 1.5em;
}

button:hover {
  border-color: whitesmoke;
}

.home-page #mood-list .add-mood-btn {
  margin: .5em;

}

}

@media only screen and (min-width: 900px) {
  

  nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5em;
    margin-left: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: cadetblue;
    border-radius: 1em;
    color: purple;
    font-size: 1em;
    
  }
  
  li {
    list-style: none;
    border: .2em solid cadetblue;
    border-radius: 2em;
    padding: .5em;
    margin-bottom: .5em;
  }

  body {
    display: flex;
    justify-content: center;
    margin-top: 5em;
  }

  .page-content {
    margin-top: .5em;
    padding-top: .5em;
    display: flex;
    width: 1400px;
    align-items: center;
    justify-content: center;
  }
  
  .home-page {
    width: 80%;
    min-height: 416px;
    display: flex;
  }
  
  
  .home-page #mood-display {
    padding: 10px;
    padding-bottom: 20px;
    padding-right: 50px;
    margin-right: 15px;
    flex: 1;
    border: 3px solid black;
    min-width: 40vw;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 6px #ccc;
  }


  #chart-js {
    height: 400px;
    width: 40vw;
  } 
  
  .home-page #mood-list { 
    padding-right: 1.5em;
    height: 550px;
    overflow: scroll;
    flex-direction: column;
    border: 3px solid black;
    box-shadow: 3px 3px 5px 6px #ccc;
    font-size: 14px;
    width: 300px;
     border-radius: 20px;
    }
  
  .splash-page {
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 5px 6px #ccc;
    border: 3px solid black;
    width: 50vw;
    padding: 5px;
  }

  .splash-page header {
    padding-right: 5px;
    display: flex;
    align-items: center;
  }

  .splash-page-to {
    margin-left: 35%;
  }

  .splash-page-btn{
    margin-left: 25%;
  }

  .home-page #mood-list .add-mood-btn {
    margin: .5em;
    margin-left: 28%;
  }

  button {
    border-radius: .5em;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-size: 1.5em;
  }
  
  button:hover {
    border-color: whitesmoke;
  }
  
  }


