@media only screen and (max-width: 900px) {
  

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: cadetblue;
  border-radius: 1em;
  color: purple;
  font-size: 1em;
}

ul {
  margin-top: 1em;
  max-height: 600px;
  overflow: scroll;
}

li {
  list-style: none;
  border: .2em solid cadetblue;
  border-radius: 2em;
  padding: .5em;
  margin-bottom: .5em;
  max-width: 250px;
}

body {
  margin: 1.5em;
  font-size: 1em;
}

#chart-js {
  height: 400px;
  width: 600px;
} 

.page-content {
  
}

button {
  border-radius: .5em;
  background-color: cornflowerblue;
  color: whitesmoke;
  font-size: 1.5em;
}

button:hover {
  border-color: whitesmoke;
}

.home-page #mood-list .add-mood-btn {
  margin: .5em;
}

}

@media only screen and (min-width: 900px) {
  

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5em;
    margin-left: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: cadetblue;
    border-radius: 1em;
    color: purple;
    font-size: 1em;
  }
  
  li {
    list-style: none;
    border: .2em solid cadetblue;
    border-radius: 2em;
    padding: .5em;
    margin-bottom: .5em;
  }

  body {
    display: flex;
    justify-content: center;
  }

  .page-content {
    margin-top: .5em;
    padding-top: .5em;
    display: flex;
    width: 1300px;
    align-items: center;
    justify-content: center;
  }
  
  .home-page {
    width: 80%;
    min-height: 416px;
    display: flex;
  }
  
  
  .home-page #mood-display {
    padding: 10px;
    padding-bottom: 20px;
    padding-right: 50px;
    margin-right: 10px;
    flex: 1;
    border: 3px solid black;
    min-width: 550px;
    max-width: 550px;
    box-shadow: 3px 3px 5px 6px #ccc;
  }


  #chart-js {
    height: 400px;
    width: 600px;
  } 
  
  .home-page #mood-list { 
    margin-right: 2em;
    height: 550px;
    overflow: scroll;
    width: 70%;
    flex-direction: column;
    border: 3px solid black;
    box-shadow: 3px 3px 5px 6px #ccc;
    font-size: 14px;
    width: 400px; 
    }

  .home-page #mood-list .add-mood-btn {
    margin: .5em;
    margin-left: 35%;
  }

  button {
    border-radius: .5em;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-size: 1.5em;
  }
  
  button:hover {
    border-color: whitesmoke;
  }
  
  }


